In [1]:
# ',' 로 분리되어 있는 txt 파일을 csv로 불러오기 위해 Pandas를 import
import pandas as pd

conbined_data1 = pd.read_csv('combined_data_1.txt')

print(conbined_data1.head())

print(conbined_data1.shape)

                     1:
1488844 3.0  2005-09-06
822109  5.0  2005-05-13
885013  4.0  2005-10-19
30878   4.0  2005-12-26
823519  3.0  2004-05-03
(24058262, 1)

In [69]:
movie_rank_data = conbined_data1.reset_index().rename(columns = {'level_0': 'movie_number', 'level_1' : 'rank', '1:': 'day'})

movie_rank_data.head()

  movie_number  rank         day
0      1488844   3.0  2005-09-06
1       822109   5.0  2005-05-13
2       885013   4.0  2005-10-19
3        30878   4.0  2005-12-26
4       823519   3.0  2004-05-03